body {margin: 0;}

.container{
  background-color: white!important;
}

/* Reset some basic styles */
.sidenav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; 
  background-color: #f8f9fa;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.sidenav a{
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000;
}

.sidenav a.active {
  background-color: #007bff;
  color: white;
}

.sidenav a:hover {
  background-color: #ddd;
}

.dropdown .dropbtn {
  background-color: #f8f9fa;
  color: #000;
  padding: 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%; /* 将 top 设置为 100% */
  margin-top: 1px; /* 可选：增加额外的上边距以调整视觉间距 */
  background-color: #f8f9fa;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e9ecef;
}

.dropbtn .fas{
  padding-left: 3px;
}


/* home page form */

.page_title {
 text-align: center;
 padding:20px 0;
}
* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea ,input[type=number]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .custom-row {
    display: flex;
    align-items: center;
  }

  
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .additional-info {
    display: none;
}
 

  /* items page */
  .items table {
    border-collapse: collapse;
    width: 100%;
  }
  
  
  .items th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

.btn-outline-success{
  margin-left: 5px;
}

.filter_options{
  min-width: 200px;
}

.d-flex .btn-primary{
  margin-left: 10px;
}

.btn-primary a{
  color: white;
  text-decoration: none;
}


/* product page */

.pro_title{
  color: red;
  padding-left: 5px;
}
.card-size{
  width: 100%; 
  max-width: 600px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}
.table-container .table-container.items {
  width: 100%;
  min-width: 1000px; 
}
.table-container th, td {
  padding: 8px;
  text-align: left;
}
.table-container img {
  width: 100px;
  height: 100px;
}

.report .list-inline{
  padding: 25px 0;
}

.report .list-inline mark{
  color: red;
}




@media screen and (max-width: 1400px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  
 
  div.content {margin-left: 0;}
}

@media screen and (max-width: 600px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }

  .items {
    min-width: 800px; 
}

}