{% extends "base.html" %}

{% block header %}

<h2>Add A New Item</h2>
{% endblock %}

{% block content %}
    
<div class="container">
    <form action="/" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-25">
                <label for="product_name">Product Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="product_name" name="product_name" placeholder="Product name..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="product_image">Product Image</label>
            </div>
            <div class="col-75">
                <input type="file" id="product_image" name="product_image" accept=".png, .jpg, .jpeg, .gif" required>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="product_category">Product Category</label>
            </div>
            <div class="col-75">
                <select id="product_category" name="product_category">
                    <option value="" selected disabled>Select a opinion</option>
                    <option value=1>Bed</option>
                    <option value=2>Sofa</option>
                    <option value=3>Motor</option>
                    <option value=4>Furniture</option>
                    <option value=5>Outdoor</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="product_status">Product Status</label>
            </div>
            <div class="col-75">
                <select id="product_status" name="product_status" onchange="showAdditionalInfo()" required>
                    <option value="" selected disabled>Select a opinion</option>
                    <option value=1>Sold</option>
                    <option value=2>Selling</option>
                    <option value=3>Own use</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="buy_date">Buy Date</label>
            </div>
            <div class="col-75">
                <input type="date" id="buy_date" name="buy_date">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="buy_price">Buy Price</label>
            </div>
            <div class="col-75">
                <input type="number" step="1" id="buy_price" name="buy_price" placeholder="Buy price..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="buy_platform">Buy Platform</label>
            </div>
            <div class="col-75">
                <select id="buy_platform" name="buy_platform">
                    <option value="" selected disabled>Select a opinion</option>
                    <option value=1>Auction</option>
                    <option value=2>Trademe</option>
                    <option value=3>Facebook</option>
                    <option value=4>Wechat</option>
                </select>
            </div>
        </div>
        <div id="additional-info" class="additional-info">
        <div class="row">
            <div class="col-25">
                <label for="sell_date">Sell Date</label>
            </div>
            <div class="col-75">
                <input type="date" id="sell_date" name="sell_date">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="sell_price">Sell Price</label>
            </div>
            <div class="col-75">
                <input type="number" step="0.01" id="sell_price" name="sell_price" placeholder="Sell price..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="sell_platform">Sell Platform</label>
            </div>
            <div class="col-75">
                <select id="sell_platform" name="sell_platform">
                    <option value="" selected disabled>Select a opinion</option>
                    <option value="auction">Auction</option>
                    <option value="trademe">Trademe</option>
                    <option value="facebook">Facebook</option>
                    <option value="wechat">Wechat</option>
                </select>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-25">
                <label for="days_held">Days Held</label>
            </div>
            <div class="col-75">
                <input type="number" id="days_held" name="days_held" placeholder="Days held..">
            </div>
        </div> -->
        <div class="row">
            <div class="col-25">
                <label for="fees">Fees</label>
            </div>
            <div class="col-75">
                <input type="number" step="0.01" id="fees" name="fees" placeholder="Fees..">
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-25">
                <label for="profit">Profit ($)</label>
            </div>
            <div class="col-75">
                <input type="number" step="0.01" id="profit" name="profit" placeholder="Profit..">
            </div>
        </div> -->
        </div>
        <br>
        <div class="row">
            <input type="submit" value="Submit">
          </div>
    </form>
</div>

<script>
    function showAdditionalInfo() {
        var statusSelect = document.getElementById("product_status");
        var additionalInfo = document.getElementById("additional-info");
        if (statusSelect.value == "1") {  // '1' is the value for 'Sold'
            additionalInfo.style.display = "block";
        } else {
            additionalInfo.style.display = "none";
        }
    }
</script>

{% endblock %}