{% extends "base.html" %}

{% block header %}

<h2>Product History</h2>
{% endblock %}

{% block content %}
    
<div class="container">
    <h2>Product List</h2>
    <table class="items">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Status</th>
                <th>Buy Date</th>
                <th>Buy Price</th>
                <th>Buy Platform</th>
                <th>Sell Date</th>
                <th>Sell Price</th>
                <th>Sell Platform</th>
                <th>Trading Days(day)</th>
                <th>Fees</th>
                <th>Earnings($)</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for product in product_list %}
            <tr>
                <td>
                    <img src="{{ url_for('static', filename='images/' + product[10]) }}" alt="{{ product[10] }}" style="width:100px;height:100px;">
                </td>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
                <td>{{ product[2] }}</td>
                <td>{{ product[3] }}</td>
                <td>{{ product[4] }}</td>
                <td>{{ product[5] }}</td>
                {% if product[2] == 'Sold' %}
                    <td>{{ product[6] }}</td>
                    <td>{{ product[7] }}</td>
                    <td>{{ product[8] }}</td>
                    <td>{{ product[6] | days_diff(product[3]) }} days</td>
                    <td>{{ product[9] }}</td>
                    <td>{{ product[7]-product[4]- product[9]}}</td>
                {% endif %}
                <td>
                    <button type="button" class="btn btn-primary" data-product-id="{{ product[11] }}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Update
                    </button>
                </td>
                
            </tr>
           
            {% endfor %}
            
        </tbody>
    </table>
    <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Product Details</h1>
              
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <form action="/update" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <input type="hidden" id="edit_product_id" name="product_id">
                            <div class="form-group">
                                <label for="edit_product_name">Product Name</label>
                                <input type="text" class="form-control" id="edit_product_name" name="product_name" required>
                            </div>
                            <div class="form-group">
                                <label for="edit_product_category">Product Category</label>
                                <select class="form-control" id="edit_product_category" name="product_category" required>
                                    {% for category in categoryList %}
                                    <option value={{category[0]}}>{{category[1]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit_product_status">Product Status</label>
                                <select class="form-control" id="edit_product_status" name="product_status" required>
                                    {% for status in statusList %}
                                    <option value={{status[0]}}>{{status[1]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit_buy_date">Buy Date</label>
                                <input type="date" class="form-control" id="edit_buy_date" name="buy_date" required>
                            </div>
                            <div class="form-group">
                                <label for="edit_buy_price">Buy Price</label>
                                <input type="number" step="0.01" class="form-control" id="edit_buy_price" name="buy_price" required>
                            </div>
                            <div class="form-group">
                                <label for="edit_buy_platform">Buy Platform</label>
                                <select class="form-control" id="edit_buy_platform" name="buy_platform" required>
                                    {% for platform in platformList %}
                                        <option value="{{platform[0]}}">{{platform[1]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit_sell_date">Sell Date</label>
                                <input type="date" class="form-control" id="edit_sell_date" name="sell_date">
                            </div>
                            <div class="form-group">
                                <label for="edit_sell_price">Sell Price</label>
                                <input type="number" step="0.01" class="form-control" id="edit_sell_price" name="sell_price">
                            </div>
                            <div class="form-group">
                                <label for="edit_sell_platform">Sell Platform</label>
                                <select class="form-control" id="edit_sell_platform" name="sell_platform">
                                    {% for platform in platformList %}
                                        <option value="{{platform[0]}}">{{platform[1]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edit_fees">Fees</label>
                                <input type="number" step="0.01" class="form-control" id="edit_fees" name="fees">
                            </div>
                            <div class="form-group">
                                <label for="edit_product_image">Product Image</label>
                                <input type="file" class="form-control" id="edit_product_image" name="product_image" accept=".png, .jpg, .jpeg, .gif">
                            </div>
                        </div>
                    </form>
            
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>
</div>

<script>
    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
    myInput.focus()
    })  


</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 监听按钮点击事件
        var updateButtons = document.querySelectorAll('.btn-primary[data-bs-toggle="modal"]');
        updateButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                var productId = this.getAttribute('data-product-id');

                // 发送异步请求到后端
                fetch('/get_product?productId=' + productId)
                    .then(response => response.json())
                    .then(data => {
                        // 在这里处理返回的产品数据，填充到模态框中
                        console.log(data);
                        // 例如，将返回的数据填充到模态框中的表单中
                        document.getElementById('product-name').value = data.product_name;
                        document.getElementById('product-category').value = data.category_name;
                        // 其他字段以此类推
                    })
                    .catch(error => console.error('Error fetching product:', error));
            });
        });
    });
</script>


{% endblock %}