{% extends "base.html" %}

{% block header %}

<h2 class="page_title text-center">Status Management</h2>
{% endblock %}

{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12">
            <button id="add-status-btn" class="btn btn-success mb-3">Add Status</button>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Status Name</th>
                        <th scope="col">Management</th>
                    </tr>
                </thead>
                <tbody id="status-table-body">
                    {% for list in status_list %}
                        <tr data-status-id="{{ list[0] }}">
                            <th scope="row">{{ loop.index }}</th>
                            <td class="status-name">{{ list[1] }}</td>
                            <td>
                                <a href="javascript:void(0);" class="btn btn-primary update-button" data-status-id="{{ list[0] }}">Update</a>
                                <a href="/manage?statusId={{list[0]}}" class="btn btn-warning">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.getElementById('add-status-btn').addEventListener('click', function() {
    var tableBody = document.getElementById('status-table-body');
    var newRow = document.createElement('tr');
    newRow.innerHTML = `
        <th scope="row">New</th>
        <td><input type="text" class="form-control" id="new-status-name" placeholder="Enter new status name"></td>
        <td>
            <button class="btn btn-success" id="save-status-btn">Save</button>
        </td>
    `;
    tableBody.appendChild(newRow); // 添加新行到 DOM

    // 现在 save-status-btn 已经在 DOM 中，可以为其添加事件监听器
    document.getElementById('save-status-btn').addEventListener('click', function() {
        var newStatusName = document.getElementById('new-status-name').value;
        if (newStatusName.trim() === '') {
            alert('Status name cannot be empty');
            return;
        }

        // 发送新的分类到服务器
        fetch('/manage_add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
            },
            body: JSON.stringify({ status_name: newStatusName }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload(); // 重新加载页面以查看新的分类
            } else {
                location.reload();
            }
        })
    });
});

document.querySelectorAll('.update-button').forEach(button => {
        button.addEventListener('click', function() {
        let statusId = this.dataset.statusId;
        let row = document.querySelector(`tr[data-status-id='${statusId}']`);
        let statusNameCell = row.querySelector('.status-name');
        let currentName = statusNameCell.innerText;

        // Check if input field already exists
        if (statusNameCell.querySelector('input[type="text"]')) {
            return; // Exit if input field already exists
        }

        // Create input field
        let inputField = document.createElement('input');
        inputField.type = 'text';
        inputField.value = currentName;
        inputField.classList.add('form-control');

        // Create save button
        let saveButton = document.createElement('button');
        saveButton.classList.add('btn', 'btn-success', 'ml-2');
        saveButton.innerText = 'Save';
        saveButton.addEventListener('click', function() {
            let newName = inputField.value;

             // Check if new name is empty
             if (newName === '') {
                alert('Status name cannot be empty');
                return;
            }
            
            // AJAX request to update status name
            fetch('/manage_update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ status_id: statusId, status_name: newName })
            }).then(response => response.json())
            .then(data => {
                if (data.success) {
                    statusNameCell.innerHTML = newName;
                    location.reload();
                } else {
                    location.reload();
                }
            });
        });


        // Clear cell and append input field and save button
        statusNameCell.innerHTML = '';
        statusNameCell.appendChild(inputField);
        statusNameCell.appendChild(saveButton);
    });
});

</script>


{% endblock %}