{% extends "base.html" %}


{% block header %}

<h2 class="page_title">Product Details</h2>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
{% for product in productList %}

    <div class="card mb-3 text-center card-size">
        <img src="{{ url_for('static', filename='images/' + product[10]) }}"  class="card-img-top" alt="{{ product[10] }}" style="max-width:100%;">
        <div class="card-body">
        <h5 class="card-title">{{ product[0] }}</h5>
        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
        <p class="card-text"><small class="text-body-secondary">Status:{{ product[2] }}</small></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="pro_title">Buy Date:</span>{{ product[3] }}  <span class="pro_title">Buy Price:</span>{{ product[4] }}</li>
            {% if product[2]=="Sold"%}
            <li class="list-group-item"><span class="pro_title">Sold Date:</span>{{ product[6] }}  <span class="pro_title">Sold Price:</span>{{ product[7] }}</li>
            <li class="list-group-item">
                <span class="pro_title">Fees:</span> {{ product[9] }} 
                <span class="pro_title">Income:</span> 
                {{ product[7] - product[4] - product[9] }}
            </li>
            {% endif %}
        </ul>
        <div class="card-body">
            {% if product[2]!="Sold"%}
            <a  data-product-id="{{ product[11] }}" data-bs-toggle="modal" data-bs-target="#example1Modal" class="btn btn-success">Mark As Sold</a>
            {% endif %}
            <!-- <a href="#" class="card-link">Another link</a> -->
            <a data-product-id="{{ product[11] }}" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">Update All</a>
            <a href="/delete?productId={{product[11]}}" class="btn btn-warning">Delete</a>
        </div>
    </div>


{% endfor%}
</div>
<!-- Modal -->
<div class="modal fade" id="example1Modal" tabindex="-1" aria-labelledby="example1ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="example1ModalLabel">Update Product Details</h1>
        
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="/markSold" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="sellDate">Sell Date</label>
                        <input type="date" class="form-control" id="sellDate" name="sellDate">
                    </div>
                    <div class="form-group">
                        <label for="sellPrice">Sell Price</label>
                        <input type="number" step="0.01" class="form-control" id="sellPrice" name="sellPrice">
                    </div>
                    <div class="form-group">
                        <label for="sellPlatform">Sell Platform</label>
                        <select class="form-control" id="sellPlatform" name="sellPlatform">
                            {% for platform in platformList %}
                                <option value="{{platform[0]}}" {% if platform[0] == 3 %}selected{% endif %}>{{platform[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fee">Fees</label>
                        <input type="number" step="0.01" class="form-control" id="fee" name="fee">
                    </div>
                </div>
            
                <input type="hidden" id="product_id" name="product_id">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                
                </div>
        </form>
    </div>
    </div>
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById('sellDate').value = today;
    });
</script>


      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Product Details</h1>
            
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <form action="/update_item" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="edit_product_name">Product Name</label>
                            <input type="text" class="form-control" id="product_name" name="product_name" required>
                        </div>
                        <div class="form-group">
                            <label for="edit_product_category">Product Category</label>
                            <select class="form-control" id="product_category" name="product_category" required>
                                {% for category in categoryList %}
                                <option value={{category[0]}}>{{category[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="edit_product_status">Product Status</label>
                            <select class="form-control" id="product_status" name="product_status" required>
                                {% for status in statusList %}
                                <option value={{status[0]}}>{{status[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="buy_date">Buy Date</label>
                            <input type="date" class="form-control" id="buy_date" name="buy_date" required>
                        </div>
                        <div class="form-group">
                            <label for="edit_buy_price">Buy Price</label>
                            <input type="number" step="0.01" class="form-control" id="buy_price" name="buy_price" required>
                        </div>
                        <div class="form-group">
                            <label for="edit_buy_platform">Buy Platform</label>
                            <select class="form-control" id="buy_platform" name="buy_platform" required>
                                {% for platform in platformList %}
                                    <option value="{{platform[0]}}">{{platform[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="sell_date">Sell Date</label>
                            <input type="date" class="form-control" id="sell_date" name="sell_date">
                        </div>
                        <div class="form-group">
                            <label for="edit_sell_price">Sell Price</label>
                            <input type="number" step="0.01" class="form-control" id="sell_price" name="sell_price">
                        </div>
                        <div class="form-group">
                            <label for="edit_sell_platform">Sell Platform</label>
                            <select class="form-control" id="sell_platform" name="sell_platform">
                                {% for platform in platformList %}
                                    <option value="{{platform[0]}}">{{platform[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="edit_fees">Fees</label>
                            <input type="number" step="0.01" class="form-control" id="fees" name="fees">
                        </div>
                        <div class="form-group">
                            <label for="edit_product_image">Product Image</label>
                            <input type="file" class="form-control" id="product_image" name="product_image" accept=".png, .jpg, .jpeg, .gif">
                            <input type="hidden" id="existing_product_image" name="existing_product_image">
                            <img id="product_image_preview" src="" alt="Product Image" style="display:none; width: 100px; height: 100px; margin-top: 10px;">
                        </div>
                    </div>
                
                    <input type="hidden" id="product_id" name="product_id" value="{{product_id}}">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    
                    </div>
            </form>
        </div>
        </div>
    </div>
</div>

<script>
const myModal = document.getElementById('myModal')
const myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', () => {
myInput.focus()
})  


</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Listening to button click events
    var updateButtons = document.querySelectorAll('.btn-primary[data-bs-toggle="modal"]');
    updateButtons.forEach(function(button) {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            var productId = this.getAttribute('data-product-id');
            // Function to format date to YYYY-MM-DD
            function formatDate(dateString) {
                const date = new Date(dateString);
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const day = String(date.getDate()).padStart(2, '0');
                return `${year}-${month}-${day}`;
            }

            // Send asynchronous requests to the backend
            fetch('/get_product?productId=' + productId)
                .then(response => response.json())
                .then(data => {
                    // Populate the form in the modal box with the returned data
                    // console.log(data)
                    document.getElementById('product_id').value = data.id;
                    document.getElementById('product_name').value = data.name;
                    document.getElementById('product_category').value = data.category;
                    document.getElementById('product_status').value = data.status;
                    document.getElementById('buy_date').value = formatDate(data.buy_date);
                    document.getElementById('buy_price').value = data.buy_price;
                    document.getElementById('buy_platform').value = data.buy_platform;
                    document.getElementById('sell_date').value = formatDate(data.sell_date);
                    document.getElementById('sell_price').value = data.sell_price;
                    document.getElementById('sell_platform').value = data.sell_platform;
                    document.getElementById('fees').value = data.fees;
                    document.getElementById('existing_product_image').value = data.image_name;
                    if (data.image_name) {
                    const imagePath = '/static/images/' + data.image_name;
                    const imgPreview = document.getElementById('product_image_preview');
                    imgPreview.src = imagePath;
                    imgPreview.style.display = 'block';
                }
                    

                     // Set the selected status of product_status
                    var statusSelect = document.getElementById('product_status');
                    for (var i = 0; i < statusSelect.options.length; i++) {
                        if (statusSelect.options[i].value == data.status) {
                            statusSelect.options[i].selected = true;
                            break;
                        }
                    }

                    // set the selected of product_category
                    var categorySelect = document.getElementById('product_category');
                    for (var i = 0; i < categorySelect.options.length; i++) {
                        if (categorySelect.options[i].value == data.category) {
                            categorySelect.options[i].selected = true;
                            break;
                        }
                    }
                    //  set the selected of product_buy_platform 
                    var bPlatformSelect = document.getElementById('buy_platform');
                    for (var i = 0; i < bPlatformSelect.options.length; i++) {
                        if (bPlatformSelect.options[i].value == data.buy_platform) {
                            bPlatformSelect.options[i].selected = true;
                            break;
                        }
                    }

                    //  set the selected of product_sell_platform
                    var sPlatformSelect = document.getElementById('sell_platform');
                    for (var i = 0; i < sPlatformSelect.options.length; i++) {
                        if (sPlatformSelect.options[i].value == data.sell_platform) {
                            sPlatformSelect.options[i].selected = true;
                            break;
                        }
                    }
                
                    

                })
                .catch(error => console.error('Error fetching product:', error));
        });
    });
});
</script>



{% endblock %}