{% extends "base.html" %}


{% block header %}

<h2 class="page_title">Product Details</h2>
{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
{% for product in productList %}

    <div class="card mb-3 text-center card-size">
        <img src="https://mrfu.me/{{  product[6]}}"  class="card-img-top" alt="{{ product[6] }}" style="max-width:100%;">
        <div class="card-body">
        <h5 class="card-title">{{ product[0] }}</h5>
        <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
        <p class="card-text"><small class="text-body-secondary">Status:</small>
            
            {% if product[2]=="Sold" %}
                <span class="status badge-success">{{ product[2] }}</span>
                {% elif product[2]=="Selling" %}
                <span class="status badge-warning">{{ product[2] }}</span>
                {% else %}
                <span class="status badge-other">{{ product[2] }}</span>
                {% endif %}
        </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="pro_title">Buy Date:</span>{{ product[3] }}  <span class="pro_title">Buy Price:</span>{{ product[4] }}</li>
            {% if soldList %}
                {% for item in soldList %}
                <li class="list-group-item"><span class="pro_title">Sold Date{{loop.index}}:</span>{{ item [0] }}  <span class="pro_title">Sold Price{{loop.index}}:</span>{{ item [1] }}<span class="pro_title">Fees{{loop.index}}:</span> {{ item [3] }} </li>
                {% endfor %}
            
            <li class="list-group-item"><span class="pro_title">Total Income:</span> 
                    {{ income }}</li>
            {% endif %}
        </ul>
        <div class="card-body">
            {% if product[2]!="Sold"%}
            <a  data-product-id="{{ product[7] }}" data-bs-toggle="modal" data-bs-target="#example1Modal" class="btn btn-success">Mark As Sold</a>
            {% endif %}
            <!-- <a href="#" class="card-link">Another link</a> -->
            <a data-product-id="{{ product[7] }}" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">Update All</a>
            <a href="#" onclick="confirmDelete({{product[7]}})" class="btn btn-warning">Delete</a>
        </div>
    </div>


{% endfor%}

<script>
    function confirmDelete(productId) {
        if (confirm("Are you sure you want to delete this product?")) {
            window.location.href = "/delete?productId=" + productId;
        }
    }
</script>
</div>
<!-- Modal -->
<div class="modal fade" id="example1Modal" tabindex="-1" aria-labelledby="example1ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="example1ModalLabel">Update Product Details</h1>
        
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="/markSold" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="sellDate">Sell Date</label>
                        <input type="date" class="form-control" id="sellDate" name="sellDate">
                    </div>
                    <div class="form-group">
                        <label for="sellPrice">Sell Price</label>
                        <input type="number" step="0.01" class="form-control" id="sellPrice" name="sellPrice">
                    </div>
                    <div class="form-group">
                        <label for="sellPlatform">Sell Platform</label>
                        <select class="form-control" id="sellPlatform" name="sellPlatform">
                            {% for platform in platformList %}
                                <option value="{{platform[0]}}" {% if platform[0] == 3 %}selected{% endif %}>{{platform[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fee">Fees</label>
                        <input type="number" step="0.01" class="form-control" id="fee" name="fee">
                    </div>
                </div>
            
                <input type="hidden" id="product_id" name="product_id"value="{{product_id}}">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                
                </div>
        </form>
    </div>
    </div>
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById('sellDate').value = today;
    });
</script>


      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Product Details</h1>
            
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <form action="/update_item" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="edit_product_name">Product Name</label>
                            <input type="text" class="form-control" id="product_name" name="product_name" required>
                        </div>
                        <div class="form-group">
                            <label for="edit_product_category">Product Category</label>
                            <select class="form-control" id="product_category" name="product_category" required>
                                {% for category in categoryList %}
                                <option value={{category[0]}}>{{category[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="edit_product_status">Product Status</label>
                            <select class="form-control" id="product_status" name="product_status" required>
                                {% for status in statusList %}
                                <option value={{status[0]}}>{{status[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="buy_date">Buy Date</label>
                            <input type="date" class="form-control" id="buy_date" name="buy_date" required>
                        </div>
                        <div class="form-group">
                            <label for="edit_buy_price">Buy Price</label>
                            <input type="number" step="0.01" class="form-control" id="buy_price" name="buy_price" required>
                        </div>
                        <div class="form-group">
                            <label for="edit_buy_platform">Buy Platform</label>
                            <select class="form-control" id="buy_platform" name="buy_platform" required>
                                {% for platform in platformList %}
                                    <option value="{{platform[0]}}">{{platform[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% for i in range(1, sold_length + 1) %}
                        <input type="hidden" id="sell_id{{i}}" name="sell_id{{i}}">
                        <div class="form-group">
                            <label for="sell_date{{i}}">Sell Date{{i}}</label>
                            <input type="date" class="form-control" id="sell_date{{i}}" name="sell_date{{i}}">
                        </div>
                        <div class="form-group">
                            <label for="edit_sell_price">Sell Price{{i}}</label>
                            <input type="number" step="0.01" class="form-control" id="sell_price{{i}}" name="sell_price{{i}}">
                        </div>
                        <div class="form-group">
                            <label for="edit_sell_platform">Sell Platform{{i}}</label>
                            <select class="form-control" id="sell_platform{{i}}" name="sell_platform{{i}}">
                                    <option value="">No Value...</option>
                                {% for platform in platformList %}
                                    <option value="{{platform[0]}}">{{platform[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="edit_fees">Fees{{i}}</label>
                            <input type="number" step="0.01" class="form-control" id="fees{{i}}" name="fees{{i}}">
                        </div>
                        {% endfor %}
                        <div id="additionalSoldDetails"></div>
                        <div class="form-group">
                            <a class="btn btn-primary" onclick="addSoldDetails()">Add More Sold Details</a>
                        </div>
                        <div class="form-group">
                            <label for="edit_product_image">Product Image</label>
                            <input type="file" class="form-control" id="product_image" name="product_image" accept=".png, .jpg, .jpeg, .gif,.heic">
                            <input type="hidden" id="existing_product_image" name="existing_product_image">
                            <img id="product_image_preview" src="" alt="Product Image" style="display:none; width: 100px; height: 100px; margin-top: 10px;">
                        </div>
                    </div>
                
                    <input type="hidden" id="product_id" name="product_id" value="{{product_id}}">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    
                    </div>
            </form>
        </div>
        </div>
    </div>
<script>
    let soldDetailsCount = {{ sold_length }} +1;
</script>

<script>

    function addSoldDetails() {
        const maxSoldDetails = 3;

        if (soldDetailsCount > maxSoldDetails) {
            alert("You can only add up to 3 sets of sold details.");
            return;
        }
        
        let uniqueId = `soldDetails${soldDetailsCount}`;

        let html = `
        <div class="sold-details" id="${uniqueId}">
            <div class="form-group">
                <label for="sell_date${soldDetailsCount}">Sell Date${soldDetailsCount}</label>
                <input type="date" class="form-control" id="sell_date${soldDetailsCount}" name="sell_date${soldDetailsCount}" required>
            </div>
            <div class="form-group">
                <label for="sell_price${soldDetailsCount}">Sell Price${soldDetailsCount}</label>
                <input type="number" step="0.01" class="form-control" id="sell_price${soldDetailsCount}" name="sell_price${soldDetailsCount}" required>
            </div>
            <div class="form-group">
                <label for="sell_platform${soldDetailsCount}">Sell Platform${soldDetailsCount}</label>
                <select class="form-control" id="sell_platform${soldDetailsCount}" name="sell_platform${soldDetailsCount}"required>
                    {% for platform in platformList %}
                        <option value="{{platform[0]}}">{{platform[1]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="fees${soldDetailsCount}">Fees${soldDetailsCount}</label>
                <input type="number" step="0.01" class="form-control" id="fees${soldDetailsCount}" name="fees${soldDetailsCount}">
            </div>
            <div class="form-group">
                    <a class="btn btn-danger" onclick="removeSoldDetails('${uniqueId}')">Delete</a>
                </div>
            </div>
        `;
    
        // 创建一个新的 div 元素来包裹销售详情
        let div = document.createElement('div');
        div.innerHTML = html;

        // 将新创建的销售详情添加到页面中的指定位置
        document.getElementById('additionalSoldDetails').appendChild(div);

        // console.log("soldDetailsCount",soldDetailsCount)
        let today = new Date().toISOString().split('T')[0];
        document.getElementById(`sell_date${soldDetailsCount}`).value = today;
        
        // 增加销售详情计数
        soldDetailsCount++;
    }
    function removeSoldDetails(id) {
        let element = document.getElementById(id);
        element.parentNode.removeChild(element);
        soldDetailsCount--;
    }

</script>


<script>
const myModal = document.getElementById('myModal')
const myInput = document.getElementById('myInput')

myModal.addEventListener('shown.bs.modal', () => {
myInput.focus()
})  


</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    // Listening to button click events
    var updateButtons = document.querySelectorAll('.btn-primary[data-bs-toggle="modal"]');
    updateButtons.forEach(function(button) {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            var productId = this.getAttribute('data-product-id');
            // Function to format date to YYYY-MM-DD
            function formatDate(dateString) {
                const date = new Date(dateString);
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const day = String(date.getDate()).padStart(2, '0');
                return `${year}-${month}-${day}`;
            }

            // Send asynchronous requests to the backend
            fetch('/get_product?productId=' + productId)
                .then(response => response.json())
                .then(data => {
                    // Populate the form in the modal box with the returned data
                    // console.log(data)
                    document.getElementById('product_id').value = data.id;
                    document.getElementById('product_name').value = data.name;
                    document.getElementById('product_category').value = data.category;
                    document.getElementById('product_status').value = data.status;
                    document.getElementById('buy_date').value = formatDate(data.buy_date);
                    document.getElementById('buy_price').value = data.buy_price;
                    document.getElementById('buy_platform').value = data.buy_platform;
                    document.getElementById('existing_product_image').value = data.image_name;
                    if (data.image_name) {
                    const imgPreview = document.getElementById('product_image_preview');
                    imgPreview.src = "https://mrfu.me/"+data.image_name;
                    imgPreview.style.display = 'block';
                }
                    document.getElementById('sell_id1').value = data.sell_id1;
                    document.getElementById('sell_date1').value = formatDate(data.sell_date1);
                    document.getElementById('sell_price1').value = data.sell_price1;
                    document.getElementById('sell_platform1').value = data.sell_platform1;
                    document.getElementById('fees1').value = data.fees1;
                    document.getElementById('sell_id2').value = data.sell_id2;
                    document.getElementById('sell_date2').value = formatDate(data.sell_date2);
                    document.getElementById('sell_price2').value = data.sell_price2;
                    document.getElementById('sell_platform2').value = data.sell_platform2;
                    document.getElementById('fees2').value = data.fees2;
                    document.getElementById('sell_id3').value = data.sell_id3;
                    document.getElementById('sell_date3').value = formatDate(data.sell_date3);
                    document.getElementById('sell_price3').value = data.sell_price3;
                    document.getElementById('sell_platform3').value = data.sell_platform3;
                    document.getElementById('fees3').value = data.fees3;
                   
                    

                     // Set the selected status of product_status
                    var statusSelect = document.getElementById('product_status');
                    for (var i = 0; i < statusSelect.options.length; i++) {
                        if (statusSelect.options[i].value == data.status) {
                            statusSelect.options[i].selected = true;
                            break;
                        }
                    }

                    // set the selected of product_category
                    var categorySelect = document.getElementById('product_category');
                    for (var i = 0; i < categorySelect.options.length; i++) {
                        if (categorySelect.options[i].value == data.category) {
                            categorySelect.options[i].selected = true;
                            break;
                        }
                    }
                    //  set the selected of product_buy_platform 
                    var bPlatformSelect = document.getElementById('buy_platform');
                    for (var i = 0; i < bPlatformSelect.options.length; i++) {
                        if (bPlatformSelect.options[i].value == data.buy_platform) {
                            bPlatformSelect.options[i].selected = true;
                            break;
                        }
                    }

                    //  set the selected of product_sell_platform
                    var sPlatformSelect = document.getElementById('sell_platform');
                    for (var i = 0; i < sPlatformSelect.options.length; i++) {
                        if (sPlatformSelect.options[i].value == data.sell_platform) {
                            sPlatformSelect.options[i].selected = true;
                            break;
                        }
                    }
                
                    

                })
                .catch(error => console.error('Error fetching product:', error));
        });
    });
});
</script>



{% endblock %}