{% extends "base.html" %}

{% block header %}

<h2 class="page_title">Income Report</h2>
{% endblock %}

{% block content %}
<nav class="flex-column d-flex justify-content-around flex-sm-row report-nav">
    <a class="btn {% if active_btn == 'all' %}btn-success{% else %}btn-secondary{% endif %}" href="/report" role="button">All Data</a>
  
    <div class="dropdown flex-sm-row ">
        <button class="btn dropdown-toggle w-100 {% if active_btn == 'years' %}btn-success{% else %}btn-secondary{% endif %}" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{year_value}} Year
        </button>
        <ul class="dropdown-menu w-100">
            {% for year in yearlist %}
            <li><a class="dropdown-item {% if year_value == year[0] %}active{% endif %}" href="/report?range=year&value={{year[0]}}">{{year[0]}}</a></li>
            {% endfor %}
        </ul>
    </div>
  
    <div class="dropdown flex-sm-row ">
        <button class="btn dropdown-toggle w-100 {% if active_btn == 'months' %}btn-success{% else %}btn-secondary{% endif %}" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Each Month
        </button>
        <ul class="dropdown-menu w-100">
            {% for month in monthlist %}
            <li><a class="dropdown-item" href="/report?range=month&value={{month[0]}}">{{month[0]}}</a></li>
            {% endfor %}
        </ul>
    </div>
  
    <!-- Commented out links for reference -->
    <!-- <a class="flex-sm-fill text-sm-center nav-link" href="/report?range=year">This Year</a> -->
    <!-- <a class="flex-sm-fill text-sm-center nav-link" href="/report?range=month">This Month</a> -->
    <!-- <a class="flex-sm-fill text-sm-center nav-link" href="/report?range=week">This Week</a> -->
  </nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div >
    <h3 class="page_title">Monthly Income</h2>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Month</th>
                        <th scope="col">Total Income($)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mlist in monthlylist %}
                        <tr>
                            <th scope="row">{{ mlist[0] }}</th>
                            <td>{{ mlist[1] }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th scope="row">Total</th>
                        <td>{{ total_year }}</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-md-12">
            <canvas id="monthChart" style="width:100%;max-width:600px"></canvas>
        </div>
    </div>
</div>

<script>
    const mValues = {{ month_list |tojson }};
    const nValues = {{ mIncome_list |tojson }};

    new Chart("monthChart", {
    type: "line",
    data: {
        labels: mValues,
        datasets: [{
        fill: false,
        lineTension: 0,
        backgroundColor: "red",
        borderColor: "green",
        data: nValues
        }]
    },
    options: {
        legend: {display: false},
        scales: {
        yAxes: [{ticks: {min: {{min_income |tojson}}, max:{{max_income|tojson }}}}],
        }
    }
    });
</script>

<div >
    <h3 class="page_title">Product Details</h3>
    <div class="table-container">
        <table id="productTable" class="table table-striped" >
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Product Name</th>
                    <th>Buy Date</th>
                    <th>Buy Price</th>
                    <th>Sell Date</th>
                    <th>Sell Price</th>
                    <th>Profit($)</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for product in product_list %}
                <tr>
                    <td>
                        <img src="https://mrfu.me/{{ product[10]}}" alt="{{ product[10] }}">
                    </td>
                    <td>{{ product[0] }}</td>
                    <td>{{ product[3] }}</td>
                    <td>{{ product[4] }}</td>
                    <td>{{ product[6] }}</td>
                    <td>{{ product[7] }}</td>
                    <td>{{ product[12] }}</td>
                    <td>
                        <a class="btn btn-primary" href="/product?productId={{ product[11] }}">
                            Details
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
     <!-- 引入 jQuery 和 Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <!-- 引入 DataTables 和 DataTables Bootstrap JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
     <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
     <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.js"></script>
     <script>
         $(document).ready(function() {
             $('#productTable').DataTable({
                 "order": [[4, "desc"]],
                 "columnDefs": [
                     { "orderable": true, "targets": [4, 6] }
                 ],
                 "lengthMenu": [500]
             });
         });
     </script>

{% endblock %}