{% extends "base.html" %}

{% block header %}

<h2 class="page_title">Income Report</h2>
{% endblock %}

{% block content %}
<nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="/report">All Data</a>
    <a class="flex-sm-fill text-sm-center nav-link "href="/report?range=year">This Year</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="/report?range=month">This Month</a>
    <!-- <a class="flex-sm-fill text-sm-center nav-link "href="/report?range=week">This Week</a> -->
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


    
<div >
    <h3 class="page_title">Yearly Income</h2>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Year</th>
                        <th scope="col">Total Income($)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in yearlylist %}
                        <tr>
                            <th scope="row">{{ list[0] }}</th>
                            <td>{{ list[1] }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th scope="row">Total</th>
                        <td>{{ total_income }}</td>
                    </tr>
                </tbody>
            </table>
            
            
        </div>
        <div class="col-lg-6 col-md-12">
            <canvas id="yearChart" style="width:100%;max-width:600px"></canvas>
        </div>
    </div>
</div>

<div>
    <h3 class="page_title">Category Income</h2>
    <div class="row">
    <div class="col-lg-6 col-md-12">
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Total Income($)</th>
          </tr>
        </thead>
        <tbody>
            {% for incomeItem in incomelist %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{incomeItem[0]}}<td>
            <td>{{incomeItem[1]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-lg-6 col-md-12">
      <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
    </div>
    </div>
</div>

<div>
    <h3 class="page_title">Current Stock</h2>
    <div class="row">
    <div class="col-lg-6 col-md-12">
    <table class="table table-striped table-hover">
        <tbody>
            {% for pay in paylist %}
          <tr>
            <th scope="col">Currect Stock</th>
            <td>{{pay[0]}}</td>
        </tr>
            <tr>
            <th scope="col">Total Expenditure</th>
            <td>{{pay[1]}}</td>
          </tr>
        </tbody>
          {% endfor %}
      </table>
    </div>
    <div class="col-lg-6 col-md-12">
      <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
    </div>
    </div>
</div>
<script>
    const aValues = {{ year_list |tojson }};
    const bValues = {{ yIncome_list |tojson }};

    new Chart("yearChart", {
    type: "line",
    data: {
        labels: aValues,
        datasets: [{
        fill: false,
        lineTension: 0,
        backgroundColor: "red",
        borderColor: "green",
        data: bValues
        }]
    },
    options: {
        legend: {display: false},
        scales: {
        yAxes: [{ticks: {min: 10000, max:50000}}],
        }
    }
    });

    const xValues = {{category_list|tojson}};
    const yValues = {{ income_list|tojson }};
    const barColors = [
      "#b91d47",
      "#00aba9",
      "#2b5797",
      "#e8c3b9",
      "#1e7145"
    ];
    
    new Chart("myChart", {
      type: "pie",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "Category Type Income"
        }
      }
    });
   
    </script> 

<div>
<h3 class="page_title">Product details</h2>
    <div class="table-container">
        <table class="items">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Product Name</th>
                    <th>Buy Date</th>
                    <th>Buy Price</th>
                    <th>Sell Date</th>
                    <th>Sell Price</th>
                    <th>Earnings($)</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for product in product_list %}
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename='images/' + product[10]) }}" alt="{{ product[10] }}">
                    </td>
                    <td>{{ product[0] }}</td>
                    <td>{{ product[3] }}</td>
                    <td>{{ product[4] }}</td>
                    <td>{{ product[6] }}</td>
                    <td>{{ product[7] }}</td>
                    <td>{{ product[7] - product[4] - product[9] }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-product-id="{{ product[11] }}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Details
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}